/**
 * DBFormularios
 * Elemento principal do Formulário deve ter esta class
 */
.container:not([rel="ignore-css"]) {
 /**
  * @TODO VER MAX-WIDTH 
  */ 
  display: table; 
  margin : 25px auto 0 auto;
  text-align: center;
}

.subcontainer:not([rel="ignore-css"]) {
 
  display: table; 
  margin : 0px auto 0 auto;
  text-align: center;
}

.container fieldset:not([rel="ignore-css"]), .subcontainer fieldset:not([rel="ignore-css"]) {
  margin-bottom: 5px;
}



/*
 * Deve ser aplicado em todas as tabelas do formulário
 * Os elementos de uma tabela com a class "table-container" <tr> e <td> 
 * são tratados e alinhados sem haver necessidade de aplicação de class adicionais.
 * raras algumas excessões.  
 */
table.form-container{
  border-collapse: collapse;
  width:100%;
}

table.form-container tr td:not([rel="ignore-css"]){
  padding-top : 4px;
  white-space : nowrap;
}

/**
 * Celulas pares
 */
table.form-container > tr > td:nth-child(even):not([rel="ignore-css"]),                    /** Tabela principal */
/*table.form-container > tr > td > fieldset  table > tr > td:nth-child(even):not([rel="ignore-css"]) { /* Tabela 1 nivel abaixo tabela principal */
  text-align  : left;
}

/**
 * Celulas impares
 */
table.form-container > tr > td:nth-child(odd):not([rel="ignore-css"]) {

  font-weight : bold;
  text-align  : right;
}
/**
 * Primeira Célula
 */
table.form-container >  tr > td:first-child:not([rel="ignore-css"]){
  font-weight : bold;
  text-align  : left;
}


table.subtable {
  margin-right: 0;
  width: 100%;
}

table.subtable > tr > td:first-child:not([rel="ignore-css"]){
  width   : 118; 
}

table.form-container  tr  td[colspan]:not([rel="ignore-css"]) {
  padding: 0px;
  margin : 0px;
}

table.form-container tr  td[colspan] table:not([rel="ignore-css"]) {
  margin : 0px;
  padding: 0px;
  padding-left: 0px;
  
}



/*
 * Aplicada em uma div 
 * Utilizada para alinhar os botões ao centro
 */
div.center {
  padding       : 10px;
  padding-bottom: 10px;
  text-align    : center;
}


/*
 * FieldSet Separador de Informações
 */
fieldset.separator {

  margin          : 0px auto;
  margin-top      : 5px;
  margin-bottom   : 5px;
  
  border          : 0px;
  border-top      : 2px groove #FFF;
  
  padding-bottom  : 0px;

}

/**
 * Aplica Negrito por padrão em todos legend.
 */
legend:not([rel="ignore-css"]) {
  font-weight: bold;
}

/*
 * Aplica altura em todos botões do formulário.
 */
input[type='button']:not([rel="ignore-css"]), 
input[type='reset']:not([rel="ignore-css"]), 
input[type='submit']:not([rel="ignore-css"]) {
  height: 20px !important;
}

input[type='text']:not([rel="ignore-css"]).readonly,
.readonly {
  
  background-color: #DEB887 !important;
  color:-moz-fieldtext;
}

/**
 * Elementos Formulário
 */

/**
 * Cor padrao de Borda
 */
.form-container input:not([rel='ignore-css']),
.form-container select:not([rel='ignore-css']) {

  border: 1px solid #999;
}


table.form-container select:not([rel='ignore-css']) {
  width: 100%;
}

/**
 * Tamanhos Padrao para os Campos do Formulario
 * O tamnho foi adaptado para que eles combinados em mesma linha
 * Acabem somando o mesmo tamanho.
 */
.field-size1 {
  width: 40px;
}

.field-size2 {
  width: 83px;
}

.field-size3 {
  width: 126px;
}

.field-size4 {
  width: 169px;
}

.field-size5 {
  width: 212px;
}

.field-size6 {
  width: 255px;
}

.field-size7 {
  width: 298px;
}

.field-size8 {
  width: 341px;
}

.field-size9 {
  width: 384px;
}

.field-size-max{
  width: 100%;
}


/**
 * Tratamento de Erros, Avisos e Informações
 */
.form-error {

}

input.form-error {
  background-color : #99A9AE;
}

.readonly {
  background-color:rgb(222, 184, 135);
  color:black;
}

.form-warning {

}

.form-info {

}

.bold {
  font-weight: bold;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}


table.form-container label{
  font-weight: bold;
}

table.form-container textarea:not([rel='ignore-css']),
fieldset.separator textarea:not([rel='ignore-css']){
  width: 100%;
  min-height: 100px;
}
