.DBToggleListBox {
  min-width:400px;
  max-width:800px;
  width:100%;
  height:200px;
  -moz-user-select: none;
}

.DBToggleListBox > div {
  height: 100%;
  max-height: 200px;
}

.DBToggleListBox .toggleListSelect {
  float:left;
  width: 40%;
  margin-left:5px;
}

.DBToggleListBox .toggleListSelected {
  float:right;
  width: 40%;
  position:relative;
  right:5px;
  margin-right:5px;
}

.DBToggleListBox .toggleListActionButons {
  width: 30px;
  height: 50%;
  margin:8% 0 10px 9px;
  float:left;
}

.DBToggleListBox .toggleListActionButons > input,
.DBToggleListBox .toggleListOrderButons  > input {
  margin-bottom:5px;
}

.DBToggleListBox .toggleListOrderButons {
  width: 35px;
  margin:12% 10px 10px 0px;
  height: 25%;
  float:right;
}

.DBToggleListBox .labelGrid {
  font-weight: bold;
}