@CHARSET "ISO-8859-1";

.bold {
  font-weight: bold;
}

.tamanhoElemento {

  display: block;
  width: 100%;
  height: 100%;
}

.fiftyPercentWidth {
  width: 50%;
  height: 100%;
}

.readonly {

  color: #000;
  background-color: rgb(222, 184, 135);
}


.avaliacaoExterna {
  background-color: #FFA896;
  background-color: #FF918D, 1px, solid;
}

.faltasAbonadas {
  background-color: #FEFFE0;
  background-color: #FFFAB9, 1px, solid;
}

.alignCenter {
  text-align: center;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}


.noMarginPadding {
  margin: 0;
  padding: 0;
}


/**
 * Estilo para Resultado Final quando Aprovado/Reprovado
 * Cor: branco
 */
.resultadoFinalPadrao {
  background-color: #FFF;
  color: #000;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/**
 * Estilo para Resultado Final quando Aprovado Conselho
 * Cor: azul
 */
.resultadoFinalAprovadoConselho {
  background-color: #02C9E7;
  color: #000;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/**
 * Estilo para Resultado Final quando Reclassificado Baixa Frequencia
 * Cor: verde
 */
.resultadoFinalReclassificadoBaixaFrequencia {
  background-color: #03C34A;
  color: #000;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
/**
 * Estilo para Resultado Final quando Aprovado Conforme Regimento Escolar
 * Cor: verde
 */
.resultadoFinalConformeRegimentoEscolar {
  background-color: #f7faba;
  color: #000;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
