body {
  font-family: Arial, Helvetica, serif,sans-serif, verdana;
  font-size: 12px;
  color: #000000;
}

.rotulos {
  font-family: Arial, Helvetica, serif,sans-serif, verdana;;
  font-size: 14px;
  color: #000000;
}

td {
  font-family: Arial, Helvetica, serif,sans-serif, verdana;;
  font-size: 12px;
}

th {
  font-family: Arial, Helvetica, serif,sans-serif, verdana;
  font-size: 12px;
}

input {
  font-family: Arial, Helvetica, sans-serif, verdana;
  font-size: 12px;
  height: 18px;
  border: 1px solid #999999;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: 1px solid #999999;
}

select {
  border:1px solid #999999;
  background-color:white;
}

.hide {
  display: none !important;
}

div.menuBar,
div.menuBar a.menuButton,
div.menu,
div.menu a.menuItem {
  font-family: Arial, sans-serif, serif, verdana;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  color: #000000;
}

div.menuBar {
  background-color: #d0d0d0;
  border: 1px solid;
  border-color: #f0f0f0 #909090 #909090 #f0f0f0;
  padding: 2px 2px 2px 2px;
  text-align: left;
}

div.menuBar a.menuButton {
  background-color: transparent;
  border: 1px solid #d0d0d0;
  color: #000000;
  cursor: default;
  left: 0px;
  margin: 1px;
  padding: 1px 6px 1px 6px;
  position: relative;
  text-decoration: none;
  top: 0px;
  z-index: 100;
}

div.menuBar a.menuButton:hover {
  background-color: transparent;
  border-color: #f0f0f0 #909090 #909090 #f0f0f0;
  color: #000000;
}

div.menuBar a.menuButtonActive,
div.menuBar a.menuButtonActive:hover {
  background-color: #a0a0a0;
  border-color: #909090 #f0f0f0 #f0f0f0 #909090;
  color: #ffffff;
  left: 1px;
  top: 1px;
}

div.menu {
  background-color: #d0d0d0;
  border: 2px solid;
  border-color: #f0f0f0 #909090 #909090 #f0f0f0;
  left: 0px;
  padding: 0px 1px 1px 0px;
  position: absolute;
  top: 0px;
  visibility: hidden;
  z-index: 101;
}

div.menu a.menuItem {
  color: #000000;
  cursor: default;
  display: block;
  padding: 3px 1em;
  text-decoration: none;
  white-space: nowrap;
}

div.menu a.menuItem:hover, div.menu a.menuItemHighlight {
  background-color: #000080;
  color: #ffffff;
}

div.menu a.menuItem span.menuItemArrow {
  margin-right: -.75em;
}

div.menu div.menuItemSep {
  border-top: 1px solid #909090;
  border-bottom: 1px solid #f0f0f0;
  margin: 4px 2px;
}

table.tab_sem_cor {
  border-collapse: collapse;
}

table.tab_sem_cor th {
  border:1px solid #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
}

table.tab_sem_cor td {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
}

table.tab {
  border-collapse: collapse;
}

table.tab th {
  border:1px solid #000066;
  background-color: #aacccc;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: darkblue;
}

table.tab td {
  border:1px solid #000066;
  background-color: #ccddcc;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
}

table.tab_cinza {
  border-collapse: collapse;
}

table.tab_cinza th {
  border:1px solid #000000;
  background-color: #999999;
  color: #000000;
}
table.tab_cinza td {
  border:1px solid #000000;
  background-color: #cccccc;
  color: #000000;
}

input[type=button][disabled]:not(rel='DBInputData') {
  background-color:#EFEFEF
}
input[type=submit][disabled]:not(rel='DBInputData') {
  background-color:#EFEFEF
}

/**
 * Componente Select Multiplo
 */
.DBSelectMultiplo option:nth-child(odd) {
  background-color: #D7CC06;
}
.DBSelectMultiplo option:nth-child(even) {
  background-color: #F8EC07;
}

/**
 * DB Âncora
 */
.DBAncora {
  text-decoration: underline;
  font-weight: bold;
  color: #551A8B;
  cursor: pointer;

}

legend {
  font-weight: bold;
  text-align: left;
}

/**
 * Estilos padrões do sistema
 */
body.body-default {
  margin: 0;
  margin-top: 0px !important;
  background: #e1dede;
}

body.abas {
  margin-top: 0px !important;
}
body.no-menu, body.body-default {
  margin-top: 0px !important;
}
  

table.table-default {
  width: 100%;
  border: none;
}

div.action-buttons-container {
  margin-top: 8px;
}

/**
 * Cores do fundo
 */
body, table[bgcolor="#cccccc"], td[bgcolor="#CCCCCC"], tr[bgcolor="#CCCCCC"], input.input-abas, .abaAtiva {
  background-color:#e1dede !important;
}

.boxAtualizacoesBackground * {
  background-color:#004568 !important;
}

.bodyWhiteDefault {
  background-color: #FFFFFF !important;
}

/**
 * FORMULARIO
 */
input[type="button"], input[type="submit"], input[type="reset"] {
  background-color:#d9d5d5;
  border-radius: 2px;
}

input[type="text"]:not(.input-abas),
textarea, select {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s !important;
  border-radius: 2px;
}

input[type="text"]:not([readonly]):not(.input-abas):focus, select:focus, textarea:focus {
  border-color: rgba(82, 168, 236, 0.8) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 1.5px rgba(0, 89, 141, 0.6) !important;
  outline: 0 none !important;
}

input.input-abas {
  cursor: pointer;
}

/**
 * ULTIMO ACESSO
 */
#acessosModulo table tr:not(:first-child):nth-child(even) {
  background-color: #cad0d7;
}
#acessosModulo table tr:not(:first-child):nth-child(odd) {
  background-color: #a6b0bd;
}

input[type='button']:not([rel="ignore-css"]),
input[type='reset']:not([rel="ignore-css"]),
input[type='text']:not([rel="ignore-css"]),
input[type='submit']:not([rel="ignore-css"]) {
  height: 18px !important;
}

/**
 * Barra de Progresso com valor
 */
progress {
  appearance: none;
  border: none;
  height: 30px;
  width: 100%;
  box-shadow: 0 2px 3px #CCC inset;
  background-color: #eee;
}

progress::-webkit-progress-bar {
  background-color: #eee;
  box-shadow: 0 2px 3px #CCC inset;
}

/**
 * Padronização das cores das barras pelo shadow-dom
 * Firefox : 10.0+
 */
progress::-webkit-progress-value {
  background-image:
  -webkit-linear-gradient( top, rgba(255, 255, 255, .35), rgba(0,0,0,.3)),
  -webkit-linear-gradient( left, #4993F4, #006CFD);
}
/**
 * Padronização das cores das barras pelo shadow-dom
 * Chrome: Sim
 */
progress::-moz-progress-bar {
  background-image:
  -moz-linear-gradient( top, rgba(255, 255, 255, .35), rgba(0,0,0,.3)),
  -moz-linear-gradient( left, #4993F4, #006CFD);
}

/**
* Div onde fica os botões
* questionário e eSocial
*/
.db-tooltip {
  position: absolute;
  top: 0;
  right: 0;  
}

/** Botão de release */
.db-release-note-button,
.db-tooltip-aviso-button {
  height: 35px;
  float: right;
}

.db-tooltip-aviso-button {
  background: #338C63;
  color: #fff!important;
}

.db-tooltip-aviso-button.has-release-note-button {
  right: 180px;
}

.db-release-note-button a,
.db-tooltip-aviso-button a {
  display: block;
  height: 25px;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 5px 10px;
  line-height: 25px;
  cursor: pointer;
}

.db-tooltip-aviso-button.tooltip-esocial a {
  font-size: 16px;
  text-transform: inherit;
  text-decoration: none;
  color: #FFF;
}

.tooltip-close {
  position: absolute;
  right: 3px;
  cursor:pointer;
}

.db-tooltip-aviso-button.tooltip-esocial a:active {
  color: #FFF
}

.db-release-note-button a:active,.db-release-note-button a:focus {
  outline: none;
}

.db-release-note-previa {
  background: #f8c604 !important;
}

.db-release-note-button.db-release-note-previa,
.db-tooltip-aviso-button {
  margin-top: 20px;
}

/* ecidade 3 : desktop */
.no-menu .db-release-note-previa,
.no-menu .db-tooltip-aviso-button {
  margin-top: 0px;
}

.db-release-note-previa * {
  color: #333 !important;
  text-decoration: none !important;
}

.db-release-note-previa a:active,
.db-tooltip-aviso-button a:active {
  color: #666;
}


/**
 * Message board
 */

.messageboard, .DBMessageBoard {

  border-bottom   : 2px groove white;
  padding         : 5px;
  padding-top     : 0px;
  background-color: white;
  min-height          : 50px;
  text-align      : left;
  overflow        : hidden;
}

.messageboard > h1, .DBMessageBoard > h1{

  font-family: Arial, Helvetica, serif,sans-serif, verdana;
  font-size: 12px;
  color: #000000;
  padding: 0;
  margin: 0 auto;
  margin-top: 5px;
}


.messageboard > div.help, .DBMessageBoard > div.help{
  padding-left: 15px;
  padding-top: 3px;
}

.messageboard > :last-child, .DBMessageBoard > :last-child {
  padding-bottom: 5px;
}

.questionario li {
  list-style: none;
}

ul.questionario {
  margin: 0px;
  left:150%;
  position: relative;
  padding: 0px;
}

ul.questionario.animate-out{
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

ul.questionario.animate-in{
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

div#questionarios{
  z-index: 5;
  position: relative;
  /*width: 100%;*/
}

#listaquestionario div{
  width: 100%;
}

#listaquestionario li a:hover{

  color: #000;
}

div.db-tooltip{
  overflow: hidden;
}

ul#listaquestionario{
  z-index: 5;
  position: relative;
}
a {
  cursor: pointer;
}
