.DBToggleListBox {
  -moz-user-select: none;
 display:table:
 border: 1px solid #000;
}

.DBToggleListBox > div {
  display:table-cell;
}

.DBToggleListBox > div {
  display:table-cell;
  vertical-align:middle;
  padding: 5;
  position:relative;
}

.DBToggleListBox .toggleListActionButons > input,
.DBToggleListBox .toggleListOrderButons  > input {

  display: block;
  margin-bottom:5px;
  width: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.DBToggleListBox .toggleListOrderButons {
  display:table-cell;
}

.DBToggleListBox .labelGrid {
  font-weight: bold;
}
