/**
 * "Datepicker"
 */
.dbdatepicker .label {
  color: #00598d;
  font-weight: bold;
}

.dbdatepicker  tr td {
  font-size:14px !important;
}

.dbdatepicker a {
  color: #00598d !important;
}

.dbdatepicker .zeraData {
  padding-top: 5px !important;
  padding-bottom: 10px !important;
  display:block;
}

.dbdatepicker .fimsemana {
  background-color: #FFFFFF;
}

.dbdatepicker .diaatual {
  background-color: #90EE90;
}